# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.swp

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/junit.xml

# storybook
/storybook-static/
/.storybook/webpack/mdx_to_tsx_loader.js
/.storybook/.mdx_to_tsx/

# production
/build

# misc
.DS_Store
.env.local
.env.test
.env.development.local
.env.test.local
.env.production.local

.idea
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*
